<script type="importmap">
  {
    "imports": {
      "react": "https://esm.sh/react@18",
      "react-dom": "https://esm.sh/react-dom@18"
    }
  }
</script>

<script type="module">
  import { BlueskyComments } from "https://unpkg.com/bluesky-comments@0.8.0/dist/bluesky-comments.es.js";

  document.addEventListener("DOMContentLoaded", function () {
    const uri = "{{ include.uri }}";
    const author = "halilibo.com";
    BlueskyComments.init("bluesky-comments", {
      uri,
      author,
      commentFilters: [BlueskyComments.Filters.NoPins],
    });
  });
</script>

<div id="bluesky-comments"></div>
